@import "./vars.css";

.App {
  background:
    radial-gradient(
      circle at top left,
      rgba(142, 5, 194, 0.12),
      transparent 18%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(2, 173, 255, 0.1),
      transparent 18%
    ),
    var(--color-bg);
  width: 100%;
  min-height: 100vh;
  color: var(--color-text);
}
