:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #8e05c2;
  --color-secondary: #700b97;
  --color-dark: #3e065f;
  --color-bg: #000000;

  /* Fonts */
  --font-roboto: "Roboto";
}
